* {
    margin: 0;
    box-sizing: border-box;
}


/* Desktop */
body {
    /* display: flex; */
    height: 100vh;
}

/* Header/nav */
header {
    background: aqua;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.nav-list {
    padding: 0;
    /* margin: 0; */
    text-align: center;
}

.nav-list-item {
    list-style-type: none;
    /* padding: 2em 0; */
    display: grid;
    /* border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%; */
}

.nav-list-item-link {
    text-decoration: none;
    /* display: inline-block; */
    width: 100%;
    /* padding: 2em 0; */
    /* border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%; */
    /* display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 82px;
    align-items: center; */
    border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%;
    z-index: 2;
}

/* .hover-shape, .nav-list-item-link {
    grid-row: 1;
    grid-column: 1;
} */

.hover-shape,.nav-list-item-link, .page-marker {
    grid-row: 1;
    grid-column: 1;
}

.nav-list-item-link-text {
    margin: 32px 0;
    color: blue;
}

.page-marker {
    width: 0;
    height: 0;
    border-top: 41px solid transparent;
    border-right: 100px solid white;
    border-bottom: 41px solid transparent;
    z-index: 1;
}

.hover-shape {
    width: 0;
    height: 0;
    border-top: 41px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 41px solid transparent;
    /* transition: border 1s ease; */
}

.nav-list-item-link:hover~.hover-shape {
    border-right-color: indianred;
    transition: border .28s ease;
}

/* .hover-shape:hover {
    width: 0;
    height: 0;
    border-top: 41px solid transparent;
    border-right: 100px solid white;
    border-bottom: 41px solid transparent;
} */

/* Main */
main {
    margin-left: 100px;
}

/* Index main */
.index-main {
    display: grid;
    text-align: center;
}

svg, .welcome-message {
    grid-row: 1;
    grid-column: 1;
    max-width: 1250px;
    margin: 0 auto;
}

svg {
    margin-top: 100px;

}

svg text{
    font-size: 60px;
}

.w-big, .e-big, .l-big, .c-big, .o-big, .m-big, .e2-big {
    display: none;
}

.w:hover + .w-big {
    pointer-events: none;
    display: block;
}

.e:hover + .e-big {
    pointer-events: none;
    display: block;
}

.l:hover + .l-big {
    pointer-events: none;
    display: block;
}

.c:hover + .c-big {
    pointer-events: none;
    display: block;
}

.o:hover + .o-big {
    pointer-events: none;
    display: block;
}

.m:hover + .m-big {
    pointer-events: none;
    display: block;
}

.e2:hover + .e2-big {
    pointer-events: none;
    display: block;
}

.welcome-message {
    align-self: end;
    font-size: clamp(20px, 4vw, 54px);
}

/* Mobile */
@media (max-width: 768px) {
    /* Header/nav */
    header {
        height: 80px;
        width: 100vw;
        display: flex;
    }

    .user-avatar {
        display: none;
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        
    }

    .nav-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-list-item-link {
        border-radius: 0%;
    }

    .nav-list-item-link:hover .nav-text-hover{
        color: crimson;
        text-decoration: underline;
        text-underline-offset: .2em;
    }

    .nav-list-item-link:active .nav-text-hover{
        color: rgb(220, 157, 20);
    }

    .page-text-color {
        color: limegreen;
        text-decoration: underline;
        text-underline-offset: .2em;
    }

    .nav-list-item-link-text {
        margin: 0;
    }

    .page-marker {
        display: none;
    }

    .hover-shape {
        display: none;
    }
    
    /* Main */
    main {
        margin-left: 0;
        margin-top: 80px;
    }
}