@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro';
}

/* Desktop */
body {
    /* display: flex; */
    height: 100vh;
}

/* Header/nav */
header {
    background: aqua;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.nav-list {
    padding: 0;
    /* margin: 0; */
    text-align: center;
}

.nav-list-item {
    list-style-type: none;
    /* padding: 2em 0; */
    display: grid;
    /* border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%; */
}

.nav-list-item-link {
    text-decoration: none;
    /* display: inline-block; */
    width: 100%;
    /* padding: 2em 0; */
    /* border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%; */
    /* display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 82px;
    align-items: center; */
    border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%;
    z-index: 2;
}

/* .hover-shape, .nav-list-item-link {
    grid-row: 1;
    grid-column: 1;
} */

.hover-shape,
.nav-list-item-link,
.page-marker {
    grid-row: 1;
    grid-column: 1;
}

.nav-list-item-link-text {
    margin: 32px 0;
    color: blue;
}

.page-marker {
    width: 0;
    height: 0;
    border-top: 41px solid transparent;
    border-right: 100px solid white;
    border-bottom: 41px solid transparent;
    z-index: 1;
}

.hover-shape {
    width: 0;
    height: 0;
    border-top: 41px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 41px solid transparent;
    /* transition: border 1s ease; */
}

.nav-list-item-link:hover~.hover-shape {
    border-right-color: indianred;
    transition: border .28s ease;
}

/* .hover-shape:hover {
    width: 0;
    height: 0;
    border-top: 41px solid transparent;
    border-right: 100px solid white;
    border-bottom: 41px solid transparent;
} */

/* Main */
main {
    margin-left: 100px;
}

/* Index main */
.index-main {
    display: grid;
    text-align: center;
}

svg,
.welcome-message {
    grid-row: 1;
    grid-column: 1;
    max-width: 1250px;
    margin: 0 auto;
}

svg {
    margin-top: 100px;

}

svg text {
    font-size: 60px;
}

.w-big,
.e-big,
.l-big,
.c-big,
.o-big,
.m-big,
.e2-big {
    display: none;
}

.w:hover+.w-big {
    pointer-events: none;
    display: block;
}

.e:hover+.e-big {
    pointer-events: none;
    display: block;
}

.l:hover+.l-big {
    pointer-events: none;
    display: block;
}

.c:hover+.c-big {
    pointer-events: none;
    display: block;
}

.o:hover+.o-big {
    pointer-events: none;
    display: block;
}

.m:hover+.m-big {
    pointer-events: none;
    display: block;
}

.e2:hover+.e2-big {
    pointer-events: none;
    display: block;
}

.welcome-message {
    align-self: end;
    font-size: clamp(20px, 4vw, 54px);
}

/* About main */
.about-avatar-image {
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin: 50px auto 0;
}

.about-main h1 {
    margin: 25px 0;
    text-align: center;
}

.about-text {
    margin: 0 10vw;
}

.about-text address {
    margin-top: 25px;
}

/* CV main */
.cv-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-main h1 {
    /* text-align: center; */
    margin: 5vh 0;
}

.cv-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    margin: 0 5vw;
}

/* .cv-content p {
    display: inline-block;
} */

.education, .work-experience, .competencies {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(fit-content);
}

.work-experience {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fa {
    grid-column: 1;
    place-self: center;
    margin-right: 1rem;
    color: red;
}

.cv-content h2, .cv-content p, .cv-content small, .cv-content ul {
    grid-column: 2;
    align-self: center;
}

/* Portfolio main */
.portfolio-hero {
    background: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80) center/cover;
    color: white;
    padding: 4rem 1rem;
    text-align: center;
    font-size: 2rem;
}

.projects {}

.projects ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
    padding: .5rem;
}

.projects ul li figure {
    overflow: hidden;
    height: 125px;
    position: relative;
}

.projects ul li figure img {
    width: 100%;
}

.projects ul li figure figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: .2rem;
}

.project-links {
    padding: .3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}

.project-button {
    background-color: green;
    padding: 0.3em 0.5em;
    border-radius: .5em;
    color: white;
    text-decoration: none;
}

.project-button:hover {
    background-color: rgb(0, 177, 0);
    transition: background-color .1s ease;
}

.github-logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.github-logo img {
    height: 40px;
    width: 40px;
    padding: 2px;
}

.github-logo:hover img {
    padding: 0;
}

/* Mobile */
@media (max-width: 768px), (max-height: 450px) { /* Fix Mobile landscape mode */
    /* Header/nav */
    header {
        height: 80px;
        width: 100vw;
        display: flex;
        position: static;
    }

    .user-avatar {
        display: none;
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;

    }

    .nav-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-list-item-link {
        border-radius: 0%;
    }

    .nav-list-item-link:hover .nav-text-hover {
        color: crimson;
        text-decoration: underline;
        text-underline-offset: .2em;
    }

    .nav-list-item-link:active .nav-text-hover {
        color: rgb(220, 157, 20);
    }

    .page-text-color {
        color: limegreen;
        text-decoration: underline;
        text-underline-offset: .2em;
    }

    .nav-list-item-link-text {
        margin: 0;
    }

    .page-marker {
        display: none;
    }

    .hover-shape {
        display: none;
    }

    /* Main */
    main {
        margin-left: 0;
        /* margin-top: 80px; */
    }

    /* About main */
    .about-avatar-image {
        height: 50vw;
        width: 50vw;
        margin: 5vh auto 0;
    }
}